:root{
    --font__color: #fff;
    --font__family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-image: url(../assets/images/fon.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.container{
    background-color: rgba(0, 2, 32, 0.9);
    min-height: 100vh;
    min-width: 60vw;
}
p{
    font-family: var(--font__family);
    color: var(--font__color);
    font-size: 40px;
}
button[type=submit] {
    background-color:#163A91;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    transition: background-color 0.3s ease;
}
button[type=submit]:hover {
  background-color: #081961;
}