body{
    background-image: url(../images/fon2.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.container{
    background-color: rgba(0, 2, 32, 0.9);
    min-height: 100vh;
    min-width: 60vw;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    font-size: 40px;
}
.subtitle{
    text-align: center;
    margin: 90px;
}
.name{
    text-align: center;
    margin: 90px;
    margin-bottom: 190px;
}
.number1{
    text-align: center;
}

button[type=submit] {
    background-color:#163A91;
    margin: 0 auto;
    /* padding: 15px; */
    padding-top: 16px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
}
button[type=submit]:hover {
  background-color: #081961;
}
/*Вводная часть*/
.description{
    max-width: 50vw;
    margin: 60px;
}

li{
    color: #ffffff;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* padding: 0px; */
    margin: 30px;
}